body {
  color: #331D2C;
  background-color: #a2959b;
  margin: 0;
  font-family: 'Merriweather', serif;
  padding: 0px 150px 0px 150px;
}

.my_photo {
  float: left;
  margin-right: 50px;
  border-radius: 50px;
  box-shadow: #331D2C 0 0 30px;
}
.my_universe {
  float: right;
  margin-left: 15px;
  border-radius: 50px;
  box-shadow: #331D2C 0 0 30px;
}

.header-h2 h2 {
  position: relative;
  font-size: 3.5rem;
  text-transform: uppercase;
  text-align: left;
  color: #322931;
  font-family: 'Courier New', Courier, sans-serif;
  text-shadow: #331D2C 0 0 10px;
}
.header-h2 h2::before {
  content: "";
  position: absolute;
  border-bottom: 2px solid #331D2C;
  bottom: .25rem;
  width: 40%;
  left: 49%;
  transform: translateX(-50%);
}
.header-h2 h2::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid #331D2C;
  bottom: 0;
  width: 15%;
  left: 36.5%;
  transform: translateX(-50%);
}
.header-h2-left h2 {
  text-align: left;
}
.header-h2-left h2::before,
.header-h2-left h2::after {
  left: 0;
  transform: translateX(0);
}

.intro {
  width: 100%;
  line-height: 1;
  color: #331D2C;
  font-weight: bold;
  font-size: large;
  margin-top: -15px;
  margin-bottom: 25px;
}

.icon {
  float: left;
  border-radius: 400px;
  box-shadow: #331D2C 0 0 10px;
  margin-right: 10px;
}

hr {
  border-bottom: none;
  width: 20%;
  margin: 100px auto;
}

.my-container {
  margin: 100px 0;
}

.copyright {
  font-size: 0.75rem;
  padding: 20px 0;
  float: right;
}

.btn {
  margin-left: 0px;
  background: #322931;
  border-radius: 50px;
  font-family: 'Montserrat', sans-serif;
  color: #d1c3c9;
  font-size: 15px;
  padding: 10px 52px 10px 52px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 400px;
  box-shadow: #331D2C 0 0 10px;
}

.btn:hover {
  background: #4a3946;
  text-decoration: none;
}